<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Home', '#banner', class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Skills', '#skills', class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Portfolios', '#portfolios', class:"navbar-wagon-item navbar-wagon-link" %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <img src="<%= image_path 'kitty.jpg' %>" class="avatar" id="navbar-wagon-menu">
      <!-- <div class="dropdown">
        <img src="<%= image_path 'kitty.jpg' %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div> -->
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to 'Home', '#banner' %></li>
        <li><%= link_to 'Skills', '#skills' %></li>
        <li><%= link_to 'Portfolios', '#portfolios' %></li>
      </ul>
    </div>
  </div>
</div>
