---
title: Kitty's Portfolio
---

<!-- Top banner -->
<section id="banner">
  <!-- <div class="wrapper"> -->
    <div class="banner-container">
      <div class="banner-content">
        <!-- <%= image_tag "logo.png", width: "200" %> -->
        <h1>
          Hi, I am Chen Sz Ting.
          <br>
          I am a Full-stack developer.
        </h1>
        <!-- <p class="about">
          <%= link_to "More about this template", "about.html" %>
        </p> -->
        <%= image_tag 'kitty-banner.png', height: "600", id: "kitty-banner" %>
      </div>
    </div>
  <!-- </div> -->
</section>
<!-- End / Top Banner -->

<!-- Skills -->
<section id="skills">
  <div id="skills-content">
    <div class="container">
      <h2 class="text-center">
        What I can do
      </h2>
      <div class="stick"></div>
      <p class="col-xs-12 col-sm-offset-2 col-sm-8 intro">
        I am skilled in Ruby on rails, HTML, CSS, Javascript ES6, SQL Database, Sketch, Figma, Adobe illustrator and Adobe Photoshop. Find my works on <a href="https://github.com/KittyCake">Github</a>.
      </p>
      <!-- <div class="align-items-center"> -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="skill">
              <%= image_tag 'front-end.png' %>
              <div class="skill-title">
                <h4>RESPONSIVE WEB DESIGN</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="skill">
              <%= image_tag 'back-end.png' %>
              <div class="skill-title">
                <h4>BACK-END DEVELOPMENT</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="skill">
              <%= image_tag 'wechat.png' %>
              <div class="skill-title">
                <h4>WECHAT MINI PROGRAM</h4>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
<!-- End / Skills -->

<!-- Portfolio -->
<section id="portfolios">
    <div class="container">
      <h2 class="text-center">
        What I create
      </h2>
      <div class="stick"></div>
      <div class="toolbar mb2 mt2">
        <button class="btn fil-cat" href="" data-rel="all">All</button>
        <button class="btn fil-cat" data-rel="ruby">Ruby on rails</button>
        <button class="btn fil-cat" data-rel="web">Website</button>
        <button class="btn fil-cat" data-rel="wechat">WeChat Mini Program</button>
      </div>

      <div style="clear:both;"></div>
      <div id="portfolios-list">
        <div class="tile scale-anm ruby web all">
          <figure class="portfolio-figure">
            <%= image_tag 'lilixia-home.png' %>
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Lilixia Website</h3>
                <h4 class="portfolio-cat"></h4>
                <!-- <div class="btn-group">
                  <a class="btn-link" href="http://abequitygroup.com" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline1"><i class="icon icon-eye"></i></a>
                </div> -->
              </div>
            </figcaption>
            <a href="http://www.lilixia.me/" target="_blank" class="portfolio-link"></a>
          </figure>
        </div>

        <div class="tile scale-anm wechat all">
          <figure class="portfolio-figure">
            <%= image_tag 'lilixia-qrcode.jpg' %>
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Lilixia Mini Program</h3>
                <h4 class="portfolio-cat"></h4>

                <!-- <div class="btn-group">
                  <a class="btn-link" href="http://abequitygroup.com" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline1"><i class="icon icon-eye"></i></a>
                </div> -->
              </div>
            </figcaption>
          </figure>
        </div>

        <div class="tile scale-anm ruby web all">
          <figure class="portfolio-figure">
            <%= image_tag 'mr-cocktail.png' %>
            <figcaption class="portfolio-caption">
              <div class="portfolio-caption-inner">
                <h3 class="portfolio-title">Mr. Cocktail</h3>
                <h4 class="portfolio-cat"></h4>

                <!-- <div class="btn-group">
                  <a class="btn-link" href="http://abequitygroup.com" target="_blank"><i class="icon icon-link"></i></a>
                  <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline1"><i class="icon icon-eye"></i></a>
                </div> -->
              </div>
            </figcaption>
            <a href="https://mr-cocktail-kitty.herokuapp.com/" target="_blank" class="portfolio-link"></a>
          </figure>
        </div>
      </div>

      <div style="clear:both;"></div>
    </div>
</section>
<!-- End / Portfolio -->

<!-- Form -->
<section id="form">
  <div class="container">
    <h2 class="text-center">
        Let's work together!
      </h2>
      <div class="stick"></div>
    <form method="POST" action="https://formspree.io/kimikamis@gmail.com">
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Message"></textarea>
      <button type="submit">Send a message</button>
    </form>
  </div>
</section>
<!-- End / Form -->
